#tf-stat-10{background: ; background-size: cover} @media only screen and (max-width: 860px){ #tf-stat-10{background-size: cover} }#tf-stat-10 .stat .fa{color: ; font-size: em} #tf-stat-10 .stat .number{color: ; font-size: em} #tf-stat-10 .stat .count-title{color: ; font-size: em; margin-bottom: 0} .stat .count-subtitle{display: block;}#tf-stat-10 h3{color: ; margin: 0em 0;}#tf-stat-10 span img{width:;height:;}#tf-stat-10
            {

               background-size: cover;
            }
          #tf-stat-10 {padding-top:;padding-bottom:;margin-top:;margin-bottom:;}#tf-stat-10 h3{display:block;}#tf-stat-10 .stat .count-subtitle{font-size:13px;color:;margin-top:10px;}
